{% extends 'column.html.twig' %}

{% block title %}Display Multiple Parameters{% endblock %}


{% block submenu %}
    {#% include 'displaymultipleparameters/_submenu.html.twig' %#}
{% endblock %}
{% block body %}

    <h1>🔍 Display Multiple Parameters</h1>
    <!-- Form -->
    <form name="dispParamVal" action="{{ path('datacycle_displaymultipleparameters') }}" method="get" class="filter-form">
        <table id="tabFilter" class="table table-borderless">
            <tr>
                <!-- Site -->
                <td>
                    <select id="refsite" name="idSite" class="form-select">
                        <option value = "" disabled selected>🏭 Select a site</option>
                        {% for site in sites %}
                            <option value="{{ site.idsites }}" {% if site.idsites == app.request.query.get('idSite') %}selected{% endif %}>
                                {{ site.siteref }}
                            </option>
                        {% endfor %}
                    </select>
                </td>

                <!-- Machine -->
                <td>
                    <select id="refmac" name="idmac" class="form-select">
                        <option value = "" disabled selected>⚙️ Select a machine</option>
                    </select>
                </td>

                <!-- Mould -->
                <td>
                    <select id="refmould" name="idmould" class="form-select">
                        <option value = "" disabled selected>🛠 Select a mould</option>
                    </select>
                </td>
                <tr>
                    <!-- Parameter -->
                    <td>
                        <label for="param" class="form-label">Parameters</label>
                        <small class="text-muted d-block mb-2">
                            Hold <strong>Ctrl </strong>to select multiple parameters.
                        </small>
                        <select id="param" name="idparam[]" class="form-select form-select-sm" multiple aria-label="multiple select example">
                            {% for parameter in parameters %}
                                <option value="{{ parameter.idparameters }}" {% if parameter.idparameters == app.request.query.get('idparam') %}selected{% endif %}>
                                    {{ parameter.paramname }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <!-- Date -->

                    <td>
                        <label for="startDate">Start Date</label>
                        <input type="datetime-local" id="startDate" name="startDate" class="form-select" placeholder="Select start date">
                    </td>

                    <td>
                        <label for="endDate">End Date</label>
                        <input type="datetime-local" id="endDate" name="endDate" class="form-select" placeholder="Select end date">
                    </td>
                </tr>
                <td>
                    <button type="submit" class="btn btn-primary btn-lg">Display</button>
                </td>
            </tr>
        </table>
    </form>
    <div class = "table-responsive">
        <table border="1" class="table table-hover align-middle">
            <thead class = "thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Cycle</th>
                    {% for parameter in selectedparameters %}
                        <th>{{ parameter.paramname }}</th>
                    {% endfor %}
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.DataCycleDateUTC|date("Y-m-d H:i:s") }}</td>
                        <td>{{ record.DataCycleNo }}</td>
                        {% for parameter in selectedparameters %}
                            <td>
                                {% if record.idParamMac == parameter.idparameters %}
                                    {{ record.DataValue|default(0) }}
                                {% endif %}                            
                            </td>
                        {% endfor %}
                            <td>
                                <a href="{{ path('datacycle_displayoneparameter', {
                                        'idSite': app.request.query.get('idSite'),
                                        'idmac': app.request.query.get('idmac'),
                                        'idmould': app.request.query.get('idmould'),
                                        'idparam': record.idParamMac,
                                        'startDate': app.request.query.get('startDate'),
                                        'endDate': app.request.query.get('endDate')
                                    }) }}">
                                    {% for parameter in selectedparameters %}
                                        {% if record.idParamMac == parameter.idparameters %}
                                            Detailed graph for {{ parameter.paramname|default(0) }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block javascripts %}
        <script>
            // Listen for change event on the site dropdown
            document.getElementById('refsite').addEventListener('change', function() {
                var siteId = this.value; // Get the selected site ID
                var refmacSelect = document.getElementById('refmac'); // Machine dropdown
                var refmouldSelect = document.getElementById('refmould'); // Mould dropdown

                // Clear existing options
                refmacSelect.innerHTML = '<option value="" disabled selected>⚙️ Select a machine</option>';
                refmouldSelect.innerHTML = '<option value="" disabled selected>🛠 Select a mould</option>';

                // Fetch machines for the selected site
                fetch('/apifetcher/get-machines?idSite=' + siteId)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            data.forEach(function(machine) {
                                var option = document.createElement('option');
                                option.value = machine.id;
                                option.textContent = machine.name;
                                refmacSelect.appendChild(option);
                            });
                        } else {
                            var option = document.createElement('option');
                            option.value = '';
                            option.textContent = 'No machines available';
                            refmacSelect.appendChild(option);
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching machines:', error);
                    });

                // Fetch molds for the selected site
               /* fetch('/apifetcher/get-molds?idSite=' + siteId)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            data.forEach(function(tool) {
                                var option = document.createElement('option');
                                option.value = tool.id;
                                option.textContent = tool.name;
                                refmouldSelect.appendChild(option);
                            });
                        } else {
                            var option = document.createElement('option');
                            option.value = '';
                            option.textContent = 'No moulds available';
                            refmouldSelect.appendChild(option);
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching moulds:', error);
                    });
                    */
            });

            // Listen for change event on the machine dropdown
            document.getElementById('refmac').addEventListener('change', function() {
                var siteId = document.getElementById('refsite').value;
                var macId = this.value;
                var refmouldSelect = document.getElementById('refmould'); // Mould dropdown

                // Clear existing options
                refmouldSelect.innerHTML = '<option value="" disabled selected>🛠 Select a mould</option>';
                //console.log("Selected Site ID:", siteId);
                //console.log("Selected Machine ID:", macId);
                // Fetch molds based on both the selected site and machine
                if (macId) {
                    fetch('/apifetcher/get-molds?idSite=' + siteId + '&idMac=' + macId)
                        .then(response => response.json())
                        .then(data => {
                            //console.log("API Response:", data); // This logs the data returned from the API

                            if (data.length > 0) {
                                data.forEach(function(tool) {
                                    var option = document.createElement('option');
                                    option.value = tool.id;
                                    option.textContent = tool.name;
                                    refmouldSelect.appendChild(option);
                                });
                            } else {
                                var option = document.createElement('option');
                                option.value = '';
                                option.textContent = 'No moulds available';
                                refmouldSelect.appendChild(option);
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching moulds:', error);
                        });
                }
            });
            /*function resetFilters() {
                setTimeout(() => {
                var refsiteSelect = document.getElementById('refsite');
                refsiteSelect.value = '';
                refsiteSelect.selectedIndex = 0;
                }, 5000);
            }*/
            window.onload = function () {
                setTimeout(() => {
                    var refsiteSelect = document.getElementById('refsite');
                    refsiteSelect.value = ''; // Reset site selection
                    refsiteSelect.selectedIndex = 0;
                }, 1000); // Wait 1 second before resetting
            };

        </script>
    {% endblock %}
{%  endblock %}
