{% extends 'column.html.twig' %}

{% block title %}Settings Standard Template Data{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Settings Standard Template Data</h2>

        <form method="post" action="{{ path('template_data') }}" enctype="multipart/form-data">
            <table class="table">
                <thead class="thead-dark" style="position: sticky; top: 60px; z-index: 1020;">
                    <tr>
                        <th>Fieldname</th>
                        <th>Field Unit</th>
                        <th>Decimals</th>
                        {#<th>Is Title</th>#}
                        <th>Image</th>
                        <th>Std Value</th>
                        <th>% Tolerance</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parameter in parameters %}
                            <td>
                                {% if parameter.istitle %}
                                    <strong>{{ parameter.fieldname }}</strong>
                                {% else %}
                                    <div style="text-align: right;margin-left: 20px;">{{ parameter.fieldname }}</div>
                                {% endif %}
                                <input type="hidden" name="fieldname_{{ parameter.idsettstdtemp }}" value="{{ parameter.fieldname }}">
                                <input type="hidden" name="fieldunit_{{ parameter.idsettstdtemp }}" value="{{ parameter.fieldunit }}">
                                <input type="hidden" name="idrank_{{ parameter.idsettstdtemp }}" value="{{ parameter.idrank }}">
                                <input type="hidden" name="nbdecimals_{{ parameter.idsettstdtemp }}" value="{{ parameter.nbdecimals }}">
                            </td>
                            <td><div style="text-align: center;">{{ parameter.fieldunit }}</div></td>
                            <td>{{ parameter.nbdecimals }}</td>
                            {#<td>{{ parameter.istitle ? 'Yes' : 'No' }}</td>#}
                            <td>
                                {% if parameter.ispicture %}
                                    <input type="file" name="image_{{ parameter.idsettstdtemp }}" class="image-input" accept="image/*" data-preview-id="imagePreview_{{ parameter.idsettstdtemp }}">
                                    <div class="mt-2">
                                        <img id="imagePreview_{{ parameter.idsettstdtemp }}" src="#" alt="Image Preview" style="max-width: 70%; display: none;">
                                    </div>
                                {% endif %}
                            </td>

                            {# Conditionally disable input fields if istitle is Yes #}
                            <td>
                                <input 
                                    type="text" 
                                    name="std_value_{{ parameter.idsettstdtemp }}" 
                                    class="form-control" 
                                    {% if parameter.istitle or parameter.ispicture %}disabled{% endif %} 
                                    {% if not parameter.istitle and not parameter.ispicture %}style="border: 2px solid #ccc;"{% endif %} 

                                />
                            </td>
                            <td>
                                <input 
                                    type="text" 
                                    name="tolerance_{{ parameter.idsettstdtemp }}" 
                                    class="form-control" 
                                    {% if parameter.istitle or parameter.ispicture %}disabled{% endif %} 
                                    {% if not parameter.istitle and not parameter.ispicture %}style="border: 2px solid #ccc;"{% endif %} 
                                />
                            </td>
                            <td>
                                <input 
                                    type="text" 
                                    name="mini_{{ parameter.idsettstdtemp }}" 
                                    class="form-control" 
                                    {% if parameter.istitle or parameter.ispicture %}disabled{% endif %} 
                                    {% if not parameter.istitle and not parameter.ispicture %}style="border: 2px solid #ccc;"{% endif %} 
                                />
                            </td>
                            <td>
                                <input 
                                    type="text" 
                                    name="maxi_{{ parameter.idsettstdtemp }}" 
                                    class="form-control" 
                                    {% if parameter.istitle or parameter.ispicture %}disabled{% endif %} 
                                    {% if not parameter.istitle and not parameter.ispicture %}style="border: 2px solid #ccc;"{% endif %}                                
                                />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="idsettstdfile" value="{{ idstdfile }}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script>
        // JavaScript to show image preview for each input field
        document.querySelectorAll('.image-input').forEach(input => {
            input.addEventListener('change', function(event) {
                var file = event.target.files[0];
                var previewId = this.getAttribute('data-preview-id'); // Get the corresponding image preview ID
                var imagePreview = document.getElementById(previewId);
                var reader = new FileReader();

                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block'; // Show the preview
                };

                if (file) {
                    reader.readAsDataURL(file); // Read the image file
                }
            });
        });
    </script>
{% endblock %}