{% extends 'column.html.twig' %}

{% block title %}Display Multiple Parameters{% endblock %}


{% block submenu %}
    {#% include 'displaymultipleparameters/_submenu.html.twig' %#}
{% endblock %}
{% block body %}

    <h1>🔍 Display Multiple Parameters</h1>
    <!-- Form -->
    <form name="dispParamVal" action="{{ path('displaymultipleparameters_index') }}" method="get" class="filter-form">
        <table id="tabFilter" class="table table-borderless">
            <tr>
                <!-- Site -->
                <td>
                    <select id="refsite" name="idSite" class="form-select">
                        <option value = "" disabled selected>Select a site</option>
                        {% for site in sites %}
                            <option value="{{ site.idsites }}" {% if site.idsites == app.request.query.get('idSite') %}selected{% endif %}>
                                {{ site.siteref }}
                            </option>
                        {% endfor %}
                    </select>
                </td>

                <!-- Machine -->
                <td>
                    <select id="refmac" name="idmac" class="form-select">
                        <option value = "" disabled selected>Select a machine</option>
                        {% for machine in machines %}
                            <option value="{{ machine.idCfgMachine }}" {% if machine.idCfgMachine == app.request.query.get('idmac') %}selected{% endif %}>
                                {{ machine.macreference }}
                            </option>
                        {% endfor %}
                    </select>
                </td>

                <!-- Mould -->
                <td>
                    <select id="refmould" name="idmould" class="form-select">
                        <option value = "" disabled selected>Select a mould</option>
                        {% for tool in tools %}
                            <option value="{{ tool.idCfgTool }}" {% if tool.idCfgTool == app.request.query.get('idmould') %}selected{% endif %}>
                                {{ tool.toolreference }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <tr>
                    <!-- Parameter -->
                    <td>
                        <label for="param" class="form-label">Parameters</label>
                        <small class="text-muted d-block mb-2">
                            Hold <strong>Ctrl </strong>to select multiple parameters.
                        </small>
                        <select id="param" name="idparam[]" class="form-select form-select-sm" multiple aria-label="multiple select example">
                            {% for parameter in parameters %}
                                <option value="{{ parameter.idparameters }}" {% if parameter.idparameters == app.request.query.get('idparam') %}selected{% endif %}>
                                    {{ parameter.paramname }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <!-- Date -->

                    <td>
                        <label for="startDate">Start Date</label>
                        <input type="datetime-local" id="startDate" name="startDate" class="form-select" placeholder="Select start date">
                    </td>

                    <td>
                        <label for="endDate">End Date</label>
                        <input type="datetime-local" id="endDate" name="endDate" class="form-select" placeholder="Select end date">
                    </td>
                </tr>
                <td>
                    <button type="submit" class="btn btn-primary btn-lg">Display</button>
                </td>
            </tr>
        </table>
    </form>
    <div class = "table-responsive">
        <table border="1" class="table">
            <thead class = "thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Cycle</th>
                    {% for parameter in selectedparameters %}
                        <th>{{ parameter.paramname }}</th>
                    {% endfor %}
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.daterecord|date("Y-m-d H:i:s") }}</td>
                        <td>{{ record.cycleId }}</td>
                        {% for parameter in selectedparameters %}
                            <td>
                                {% if record.idparameter == parameter.idparameters %}
                                    {{ record.paramvalue|default(0) }}
                                {% endif %}                            
                            </td>
                        {% endfor %}
                            <td>
                                <a href="{{ path('displayoneparameter_index', {
                                        'idSite': app.request.query.get('idSite'),
                                        'idmac': app.request.query.get('idmac'),
                                        'idmould': app.request.query.get('idmould'),
                                        'idparam': record.idparameter,
                                        'startDate': app.request.query.get('startDate'),
                                        'endDate': app.request.query.get('endDate')
                                    }) }}">
                                    {% for parameter in selectedparameters %}
                                        {% if record.idparameter == parameter.idparameters %}
                                            Detailed graph for {{ parameter.paramname|default(0) }}
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%  endblock %}
