{% extends 'fullsize.html.twig' %}

{% block title %}Device index{% endblock %}

{% block submenu %}
    {{ include('admin/_submenu.html.twig') }}
{% endblock %}
{% block body %}
    {% embed '__titleAndLinks.html.twig' %}
        {%  block title %}
            Devices
        {% endblock %}
        {%  block subtitle %}
            All records
        {% endblock %}
        {%  block links %}
            <a href="{{ path('admin_index') }}">Back to admin</a><br/>
        <a href="#" data-url="{{ path('device_new') }}" class="ajaxmodal">Create new</a>
        {% endblock %}
    {% endembed %}
    <table class="no-filtering col-md-12 table table-sm table-bordered sortable">
        <thead class="standard-bg-grey standard-white">
            <tr>
                <th>Id</th>
                <th colspan="5">Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr>
                    <td>{{ device.id }}</td>
                    <td colspan="5" class="font-weight-bold">{{ device.Name }}</td>
                    <td>
                        <form method="post" action="{{ path('device_delete', {'id': device.id}) }}">
                            <i class="fas fa-eye standard-grey standard-hover-red ajaxmodal" data-url="{{ path('device_show', {'id': device.id}) }}" title="Show"></i>
                            <i class="fas fa-edit standard-grey standard-hover-red ajaxmodal" data-url="{{ path('device_edit', {'id': device.id}) }}" title="Edit"></i>
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device.id) }}">
                            <a href="#" id="delete{{device.id}}" class="confirmAction"  title="Delete"><i class="fas fa-trash-alt standard-grey standard-hover-red"></i></a>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
