{% extends 'column.html.twig' %}

{% block title %} Indicator | Edit{% endblock %}
{% block submenu %}
    {{ include('admin/_submenu.html.twig') }}
{% endblock %}
{% block body %}
    {% embed '__titleAndLinks.html.twig' %}
        {%  block title %}
             Indicator        {% endblock %}
        {%  block subtitle %}
            <strong>Edit entry</strong>
        {% endblock %}
        {%  block links %}
            <a href="{{ path('admin_index') }}">Back to admin</a><br/>
            <a href="{{ path('indicator_index') }}">Back to list</a>
        {% endblock %}
    {% endembed %}
    
    {{ include('indicator/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('indicator/_delete_form.html.twig') }}
{% endblock %}
