{% extends 'fullsize.html.twig' %}

{% block title %}Unit index{% endblock %}

{% block submenu %}
    {{ include('admin/_submenu.html.twig') }}
{% endblock %}
{% block body %}
<h1>Unit index</h1>
<div class="col">
    <a href="{{ path('admin_index') }}">Back to admin</a> -
    <a href="#" data-url="{{ path('unit_new') }}" class="ajaxmodal">Create new</a>
</div>
<table class="no-filtering col-md-12 table table-sm table-bordered sortable">
    <thead class="standard-bg-grey standard-white">
        <tr>
                            <th>Id</th>
                            <th>Symbol</th>
                        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in units %}
        <tr>
                            <td>{{ unit.id }}</td>
                            <td>{{ unit.Symbol }}</td>
                        <td>
                <form method="post" action="{{ path('unit_delete', {'id': unit.id}) }}">
                    <i class="fas fa-eye standard-grey standard-hover-red ajaxmodal" data-url="{{ path('unit_show', {'id': unit.id}) }}" title="Show"></i>
                    <i class="fas fa-edit standard-grey standard-hover-red ajaxmodal" data-url="{{ path('unit_edit', {'id': unit.id}) }}" title="Edit"></i>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unit.id) }}">
                    <a href="#" id="delete{{unit.id}}" class="confirmAction"  title="Delete"><i class="fas fa-trash-alt standard-grey standard-hover-red"></i></a>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
